*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
    color: inherit;
}
a{
    text-decoration: none;
    color: inherit;
}

.container{
    display: flex;
    justify-content: center;
    
}
button,i,img{
    cursor: pointer;
}